*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(230, 230, 230, 0.884);
}


body {
  font-family: Arial, sans-serif;
  align-items: center;
  width: 700px;
  position: absolute;
  top: 130px;
  left: 600px;
  
  
}
.fundo{
  background-color: brown;
  position: fixed;
  width: 800px;
  height: 100%;
  z-index: -2;
  top: 0px;
  left: 550px;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

.fundo2{
  background-color: rgb(238, 234, 234);
  position: fixed;
  width: 700px;
  height: 84%;
  z-index:-1;
  top: 70px;
  left: 600px;
  border-radius: 10%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
}

h1{
  top: -50px;
  left: 190px;
  position: absolute;
  background-color: rgb(238, 234, 234);
  
}

form {
  margin-bottom: 20px;
  
}

label {
  display: block;
  margin-bottom: 5px;
  
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  
  
}

button {
  padding: 10px 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  
}

li {
  margin-bottom: 10px;
  
}

.completed-tasks {
  color: #4CAF50; 
}